{% extends "base.html" %}

{% block content %}

<h1 class="title">All Cars</h1>

<div class="search-box">
<form method="GET">
<input type="text" name="search" placeholder="Search by name or model">
<button>Search</button>
</form>
</div>

<div class="car-grid">

{% for car in cars %}

<div class="card">

<h3>{{car.name}}</h3>

<p><b>Model:</b> {{car.model}}</p>
<p><b>Price:</b> {{car.price}}</p>
<p><b>Owner:</b> {{car.owner}}</p>

<div class="card-buttons">
<a href="/edit/{{loop.index0}}" class="edit">Edit</a>
<a href="/delete/{{loop.index0}}" class="delete">Delete</a>
</div>

</div>

{% endfor %}

</div>

{% endblock %}